nav {
  background-color: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}
.buttonFilter {
  display: flex;
  justify-content: center;
}
.buttonFilter button {
  padding: 20px;
  margin: 20px;
  max-width: 150px;
  background-color: black;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}
.buttonFilter button:hover {
  background-color: rgb(73, 73, 73);
}
.CardsBlock {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  box-shadow: 1px 2px 10px 1px gray;
}
.CardsBlock img{
  height: 600px;
  max-width: 400px;
}
.AllCardsPosition {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
